@{
    ViewBag.Title = "Claim List";
    var claimHistoryList = ViewBag.ClaimHistoryList;
}
@section styles {
    @Styles.Render("~/Content/claims")
}
@section navbar
{
    <span>Claims</span>
}
<div class="leftMenu">
    <ul>
        <li class="hamburger"><img class="menu-icon" src="~/Content/images/navbar/Hamburger.png" /></li>
    </ul>
    <ul class="menu-nav">
        <li class="dashboard">Dashboard</li>
        <li class="menu-selected claims">Claims</li>
        <li class="builders with-img"><img src="~/Content/images/navbar/builders.png" />Builders</li>
        <li class="help with-img"><img src="~/Content/images/navbar/help.png" />Help</li>
        <li class="new with-img"><img src="~/Content/images/navbar/new.png" />New view</li>
    </ul>
</div>
<div class="content-main common-list claim-list">
    <div class="content-operation-area padding-left">
        <div class="operation-tree">
            <span>All builders</span>
            <span>Preferred</span>
            <span>High risk</span>
        </div>
        <div class="operation-container">
            <div class="col-1">
                <input type="text" value="Search..." />
            </div>
            <div class="col-2">
                <div class="listview"><img src="~/Content/images/List.png" /><span>List view</span></div>
                <div><img src="~/Content/images/Grid.png" /><span>Grid view</span></div>
                <div><img src="~/Content/images/Filter.png" /><span>Filter</span><img src="~/Content/images/Down.png" /></div>
                <div><img src="~/Content/images/Add.png" /><span>Create</span><img src="~/Content/images/Down.png" /></div>
                <div class="count"><span>@claimHistoryList.Count</span><span> items</span></div>
            </div>
        </div>
    </div>
    <div class="content-core padding-left">
        <div class="content-core-left">
            <div class="content-claim-history" style="padding-top: 0px;">
                <span></span>
                <div class="history-grid">
                    <table cellspacing="0">
                        <thead>
                            <tr>
                                <th class="col-1">Number<img src="~/Content/images/Up.png" /></th>
                                <th class="col-2">Date Submitted</th>
                                <th class="col-3">Confidence</th>
                                <th class="col-4">Status</th>
                                <th class="col-5">More</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in claimHistoryList)
                            {
                                string statusClss = "";
                                if(item.Status == "Adjuster desk"){
                                    statusClss = "text-blue";
                                }
                                <tr class="history-tr">
                                    <td>@item.Id</td>
                                    <td>@item.Date</td>
                                    <td>@string.Concat(item.RatePercent, "%")</td>
                                    <td class="@statusClss">@item.Status</td>
                                    <td class="context-menu-fire claim"></td>
                                </tr>
                            }
                            <tr class="newclaim-tr">
                                <td><img src="~/Content/images/Add.png" /><span>Add item</span></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="content-core-right">
            <div class="content-policy-holder">
                <div><span>Coverage region</span></div>
                <div><span>3 recent claims in this area</span></div>
            </div>
            <div class="content-map">
                <img src="/Content/images/Coverage area map.png">
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/claim")
}
